# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# editor file
.idea
.vscode

# cmake
!Makefile
*.o

# stupid macos 
*.dSYM
.DS_Store

# CSAPP lab
*.tar
!README

# Python Virtualenv
/bin
/lib
pyvenv.cfg

# Ansible
!hosts